.confirmacion-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.confirmacion-card {
  background-color: #1c1c1c;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
  color: white;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.confirmacion-info {
  text-align: left;
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  margin: 15px 0;
  overflow-x: auto;
  color: white;
}

.confirmacion-text {
  margin-bottom: 25px;
  font-size: 14px;
}

.confirmacion-btn {
  padding: 12px 30px;
  background-color: #ffdd00; /* amarillo */
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.confirmacion-btn:hover {
  background-color: #e6c200;
}
